# Countries report

### Imports

In [1]:
import sys
import psycopg2
import pandas as pd

### Initial setup

In [2]:
conn = psycopg2.connect(host='localhost',
                        port='5432',
                        user='mffais',
                        password='pass',
                        database='bigquery')

### Calculate installs

In [3]:
cursor = conn.cursor()
query = '''
    SELECT country,
           COUNT(*) AS install
    FROM (
          SELECT user_pseudo_id,
                 geo ->> 'country' AS country
          FROM events
          WHERE geo ->> 'country' <> ''
          GROUP BY user_pseudo_id, geo ->> 'country'
    ) AS installs_table
    GROUP BY country
    ORDER BY country
'''
cursor.execute(query)
install = pd.read_sql(query, con=conn)
cursor.close()
install.rename(columns={ 'country':'Country', 'install':'Install' }, inplace=True)
install.head(20)

        Country  Install
0   Afghanistan       32
1       Albania       17
2       Algeria      370
3        Angola       28
4      Anguilla        3
5     Argentina       26
6       Armenia        6
7     Australia        3
8       Austria        1
9    Azerbaijan       13
10      Bahamas        3
11      Bahrain        4
12   Bangladesh      352
13     Barbados        1
14      Belarus       14
15      Belgium        4
16       Belize        4
17        Benin       23
18       Bhutan        2
19      Bolivia       52

### Calculate uninstalls

In [4]:
cursor = conn.cursor()
query = '''
    SELECT country,
           uninstall
    FROM (  
        SELECT geo ->> 'country' AS country,
               COUNT(*) AS uninstall
        FROM events
        WHERE event_name='app_remove'
          AND geo ->> 'country' <> ''
        GROUP BY country
    ) uninstall
    ORDER BY country
'''
cursor.execute(query)
uninstall = pd.read_sql(query, con=conn)
cursor.close()
uninstall.rename(columns={ 'country':'Country', 'uninstall':'Uninstall' }, inplace=True)
uninstall.head(20)

                 Country  Uninstall
0            Afghanistan         18
1                Albania         11
2                Algeria        248
3                 Angola         11
4               Anguilla          3
5              Argentina         19
6                Armenia          5
7              Australia          1
8             Azerbaijan          9
9                Bahamas          1
10               Bahrain          1
11            Bangladesh        273
12               Belarus          6
13               Belgium          3
14                Belize          3
15                 Benin          9
16                Bhutan          2
17               Bolivia         35
18  Bosnia & Herzegovina          2
19              Botswana          2

### Calculate usage

In [5]:
cursor = conn.cursor()
query = '''
    SELECT country,
           AVG(days_used) AS usage
    FROM (
      SELECT user_pseudo_id,
             country,
             days_used
      FROM (
        SELECT user_pseudo_id,
               COUNT(*) AS days_used
        FROM (
          SELECT event_date,
                 user_pseudo_id
          FROM events
          GROUP BY event_date, user_pseudo_id
        ) AS users_by_day
        GROUP BY user_pseudo_id
      ) AS days_used
      INNER JOIN (
        SELECT user_pseudo_id AS user_pseudo_idc,
               geo ->> 'country' AS country
        FROM events
        WHERE geo ->> 'country' <> ''
        GROUP BY user_pseudo_idc, country
      ) AS user_country
      ON days_used.user_pseudo_id = user_country.user_pseudo_idc
    ) AS days_used_report
    GROUP BY country
    ORDER BY country
'''
cursor.execute(query)
usage = pd.read_sql(query, con=conn)
usage.rename(columns={ 'country':'Country', 'usage':'Usage' }, inplace=True)
usage['Usage'] = usage['Usage'].apply(lambda value: '%.2f' % value)
usage.head(20)

        Country Usage
0   Afghanistan  1.38
1       Albania  1.18
2       Algeria  1.40
3        Angola  1.32
4      Anguilla  1.33
5     Argentina  1.46
6       Armenia  2.17
7     Australia  5.00
8       Austria  1.00
9    Azerbaijan  1.69
10      Bahamas  1.33
11      Bahrain  1.25
12   Bangladesh  1.30
13     Barbados  1.00
14      Belarus  1.50
15      Belgium  1.00
16       Belize  1.25
17        Benin  1.35
18       Bhutan  1.00
19      Bolivia  1.35

### Merge install, uninstall and average to result table

In [6]:
result = pd.merge(install, uninstall, on='Country')
result['Net new install'] = result['Install'] - result['Uninstall']
result = pd.merge(result, usage, on='Country')
result.head(20)

                 Country  Install  Uninstall  Net new install Usage
0            Afghanistan       32         18               14  1.38
1                Albania       17         11                6  1.18
2                Algeria      370        248              122  1.40
3                 Angola       28         11               17  1.32
4               Anguilla        3          3                0  1.33
5              Argentina       26         19                7  1.46
6                Armenia        6          5                1  2.17
7              Australia        3          1                2  5.00
8             Azerbaijan       13          9                4  1.69
9                Bahamas        3          1                2  1.33
10               Bahrain        4          1                3  1.25
11            Bangladesh      352        273               79  1.30
12               Belarus       14          6                8  1.50
13               Belgium        4          3                1  1.00
14                Belize        4          3                1  1.25
15                 Benin       23          9               14  1.35
16                Bhutan        2          2                0  1.00
17               Bolivia       52         35               17  1.35
18  Bosnia & Herzegovina        5          2                3  1.00
19              Botswana        4          2                2  1.25

### Output HTTP Header

In [7]:
print('Content-type: text/csv')
print('Content-Disposition: attachment; filename="countries.csv"')
print()

Content-type: text/csv
Content-Disposition: attachment; filename="countries.csv"

### Output variables

In [8]:
print('# Title: Countries report')

# Title: Countries report

### Ouput result

In [9]:
str = result.to_csv(index=False)
print(str.encode('ascii','xmlcharrefreplace').decode('utf-8'))

Country,Install,Uninstall,Net new install,Usage
Afghanistan,32,18,14,1.38
Albania,17,11,6,1.18
Algeria,370,248,122,1.40
Angola,28,11,17,1.32
Anguilla,3,3,0,1.33
Argentina,26,19,7,1.46
Armenia,6,5,1,2.17
Australia,3,1,2,5.00
Azerbaijan,13,9,4,1.69
Bahamas,3,1,2,1.33
Bahrain,4,1,3,1.25
Bangladesh,352,273,79,1.30
Belarus,14,6,8,1.50
Belgium,4,3,1,1.00
Belize,4,3,1,1.25
Benin,23,9,14,1.35
Bhutan,2,2,0,1.00
Bolivia,52,35,17,1.35
Bosnia & Herzegovina,5,2,3,1.00
Botswana,4,2,2,1.25
Brazil,17,9,8,1.35
Brunei,4,3,1,1.75
Bulgaria,6,2,4,1.17
Burkina Faso,38,13,25,1.66
Burundi,17,5,12,1.35
Cambodia,27,14,13,1.48
Cameroon,28,13,15,1.43
Canada,4,3,1,1.00
Cape Verde,3,2,1,1.00
Central African Republic,3,1,2,2.33
Chad,9,2,7,1.67
Chile,6,4,2,1.50
China,3,1,2,1.00
Colombia,38,20,18,1.18
Congo - Brazzaville,15,6,9,1.60
Congo - Kinshasa,30,12,18,1.33
Costa Rica,9,5,4,1.11
C&#244;te d&#8217;Ivoire,45,22,23,1.51
Croatia,1,1,0,1.00
Cuba,115,52,63,1.49
Cyprus,4,3,1,1.50
Czechia,3,3,0,2.00
Dominican Republic,56,30,26,1.57
Ecuador,27,14,13,1.85
Egypt,79,55,24,1.46
El Salvador,15,12,3,1.13
Equatorial Guinea,2,1,1,1.50
Eswatini,4,1,3,5.50
Ethiopia,26,14,12,1.62
Fiji,4,2,2,1.50
France,10,5,5,1.20
French Guiana,2,1,1,1.00
French Polynesia,4,2,2,3.50
Gabon,10,4,6,1.30
Gambia,8,4,4,1.38
Georgia,7,5,2,1.57
Germany,15,2,13,1.80
Ghana,41,23,18,1.49
Greece,8,7,1,1.00
Guadeloupe,10,7,3,1.40
Guam,2,2,0,1.00
Guatemala,16,12,4,1.44
Guernsey,1,1,0,1.00
Guinea,11,6,5,1.64
Guinea-Bissau,5,3,2,2.00
Guyana,4,2,2,2.00
Haiti,40,18,22,1.62
Honduras,33,23,10,1.21
Hong Kong,3,2,1,1.00
Hungary,6,4,2,1.50
India,3313,2584,729,1.18
Indonesia,85,61,24,1.58
Iran,55,44,11,1.25
Iraq,508,361,147,1.32
Israel,6,2,4,1.00
Italy,18,14,4,1.28
Jamaica,10,5,5,1.50
Japan,3,2,1,2.00
Jordan,13,9,4,1.38
Kazakhstan,13,10,3,1.23
Kenya,70,45,25,1.34
Kosovo,14,12,2,1.14
Kuwait,10,8,2,1.20
Kyrgyzstan,11,4,7,1.27
Laos,34,24,10,1.38
Latvia,2,2,0,1.50
Lebanon,30,17,13,1.27
Lesotho,4,2,2,1.25
Liberia,12,4,8,1.25
Libya,97,74,23,1.31
Madagascar,14,8,6,1.36
Malawi,3,2,1,2.00
Malaysia,79,53,26,1.42
Maldives,2,2,0,1.00
Mali,19,8,11,1.53
Martinique,2,2,0,2.00
Mauritania,8,5,3,1.25
Mauritius,11,5,6,1.00
Mexico,22,14,8,1.41
Moldova,11,10,1,1.00
Mongolia,44,35,9,1.36
Morocco,266,169,97,1.32
Mozambique,41,19,22,1.24
Myanmar (Burma),108,65,43,1.42
Namibia,5,3,2,1.00
Nepal,132,100,32,1.33
Netherlands,6,2,4,1.67
New Caledonia,2,2,0,1.00
Nicaragua,18,15,3,1.22
Niger,12,4,8,1.50
Nigeria,212,85,127,1.67
North Macedonia,9,6,3,1.33
Oman,18,13,5,1.22
Pakistan,424,319,105,1.29
Palestine,23,19,4,1.13
Panama,4,3,1,1.00
Papua New Guinea,11,4,7,2.00
Paraguay,6,3,3,1.00
Peru,7,4,3,1.43
Philippines,80,56,24,1.30
Poland,6,4,2,1.33
Portugal,12,5,7,2.08
Puerto Rico,1,1,0,1.00
Qatar,9,5,4,1.89
R&#233;union,7,4,3,1.00
Romania,4,1,3,2.25
Russia,26,18,8,1.27
Rwanda,17,5,12,1.76
Saudi Arabia,39,25,14,1.13
Senegal,51,25,26,1.31
Serbia,10,7,3,1.10
Seychelles,3,1,2,1.00
Sierra Leone,6,2,4,1.50
Singapore,8,3,5,2.12
Slovakia,2,2,0,1.00
Somalia,57,29,28,1.51
South Africa,22,12,10,1.32
South Korea,12,7,5,1.08
Spain,5,2,3,1.00
Sri Lanka,43,26,17,1.35
St. Lucia,1,1,0,1.00
Sudan,17,11,6,1.35
Suriname,2,2,0,2.00
Switzerland,3,2,1,1.00
Syria,4,3,1,1.25
Taiwan,6,4,2,1.17
Tajikistan,2,1,1,1.00
Tanzania,59,34,25,1.54
Thailand,111,69,42,1.65
Timor-Leste,6,5,1,1.17
Togo,16,9,7,1.56
Trinidad & Tobago,14,8,6,1.21
Tunisia,88,55,33,1.30
Turkey,121,87,34,1.26
Turkmenistan,1,1,0,1.00
Uganda,11,6,5,1.55
Ukraine,36,21,15,1.17
United Arab Emirates,19,15,4,1.11
United Kingdom,13,6,7,1.69
United States,117,55,62,1.50
Uruguay,5,3,2,1.20
Uzbekistan,6,2,4,1.33
Venezuela,28,17,11,1.79
Vietnam,65,46,19,1.18
Western Sahara,4,3,1,1.75
Yemen,46,29,17,1.72
Zambia,20,11,9,1.35
Zimbabwe,7,3,4,1.00

### Release resources

In [10]:
conn.close()