# Campaigns report

### Imports

In [1]:
import sys
import psycopg2
import pandas as pd

### Initial setup

In [2]:
conn = psycopg2.connect(host='localhost',
                        port='5432',
                        user='mffais',
                        password='pass',
                        database='bigquery')

### Calculate installs

In [3]:
cursor = conn.cursor()
query = '''
    SELECT country,
           COUNT(*) AS install
    FROM (
          SELECT user_pseudo_id,
                 geo ->> 'country' AS country
          FROM events
          WHERE geo ->> 'country' <> ''
          GROUP BY user_pseudo_id, geo ->> 'country'
    ) AS installs_table
    GROUP BY country
    ORDER BY country
'''
cursor.execute(query)
install = pd.read_sql(query, con=conn)
cursor.close()
install.rename(columns={ 'country':'Country', 'install':'Install' }, inplace=True)
install.head(20)

        Country  Install
0   Afghanistan       32
1       Albania       15
2       Algeria      357
3        Angola       27
4      Anguilla        3
5     Argentina       24
6       Armenia        6
7     Australia        3
8       Austria        1
9    Azerbaijan       13
10      Bahamas        3
11      Bahrain        4
12   Bangladesh      318
13     Barbados        1
14      Belarus       13
15      Belgium        4
16       Belize        4
17        Benin       22
18       Bhutan        2
19      Bolivia       51

### Calculate uninstalls

In [4]:
cursor = conn.cursor()
query = '''
    SELECT country,
           uninstall
    FROM (  
        SELECT geo ->> 'country' AS country,
               COUNT(*) AS uninstall
        FROM events
        WHERE event_name='app_remove'
          AND geo ->> 'country' <> ''
        GROUP BY country
    ) uninstall
    ORDER BY country
'''
cursor.execute(query)
uninstall = pd.read_sql(query, con=conn)
cursor.close()
uninstall.rename(columns={ 'country':'Country', 'uninstall':'Uninstall' }, inplace=True)
uninstall.head(20)

                 Country  Uninstall
0            Afghanistan         17
1                Albania         10
2                Algeria        239
3                 Angola         10
4               Anguilla          3
5              Argentina         17
6                Armenia          5
7              Australia          1
8             Azerbaijan          9
9                Bahamas          1
10               Bahrain          1
11            Bangladesh        247
12               Belarus          5
13               Belgium          3
14                Belize          3
15                 Benin          9
16                Bhutan          2
17               Bolivia         35
18  Bosnia & Herzegovina          1
19              Botswana          2

### Calculate usage

In [5]:
cursor = conn.cursor()
query = '''
    SELECT country,
           AVG(days_used) AS usage
    FROM (
      SELECT user_pseudo_id,
             country,
             days_used
      FROM (
        SELECT user_pseudo_id,
               COUNT(*) AS days_used
        FROM (
          SELECT event_date,
                 user_pseudo_id
          FROM events
          GROUP BY event_date, user_pseudo_id
        ) AS users_by_day
        GROUP BY user_pseudo_id
      ) AS days_used
      INNER JOIN (
        SELECT user_pseudo_id AS user_pseudo_idc,
               geo ->> 'country' AS country
        FROM events
        WHERE geo ->> 'country' <> ''
        GROUP BY user_pseudo_idc, country
      ) AS user_country
      ON days_used.user_pseudo_id = user_country.user_pseudo_idc
    ) AS days_used_report
    GROUP BY country
    ORDER BY country
'''
cursor.execute(query)
usage = pd.read_sql(query, con=conn)
usage.rename(columns={ 'country':'Country', 'usage':'Usage' }, inplace=True)
usage['Usage'] = usage['Usage'].apply(lambda value: '%.2f' % value)
usage.head(20)

        Country Usage
0   Afghanistan  1.28
1       Albania  1.20
2       Algeria  1.39
3        Angola  1.22
4      Anguilla  1.33
5     Argentina  1.46
6       Armenia  2.17
7     Australia  5.00
8       Austria  1.00
9    Azerbaijan  1.54
10      Bahamas  1.33
11      Bahrain  1.25
12   Bangladesh  1.31
13     Barbados  1.00
14      Belarus  1.54
15      Belgium  1.00
16       Belize  1.25
17        Benin  1.23
18       Bhutan  1.00
19      Bolivia  1.33

### Merge install, uninstall and average to result table

In [6]:
result = pd.merge(install, uninstall, on='Country')
result['Net new install'] = result['Install'] - result['Uninstall']
result = pd.merge(result, usage, on='Country')
result.head(20)

                 Country  Install  Uninstall  Net new install Usage
0            Afghanistan       32         17               15  1.28
1                Albania       15         10                5  1.20
2                Algeria      357        239              118  1.39
3                 Angola       27         10               17  1.22
4               Anguilla        3          3                0  1.33
5              Argentina       24         17                7  1.46
6                Armenia        6          5                1  2.17
7              Australia        3          1                2  5.00
8             Azerbaijan       13          9                4  1.54
9                Bahamas        3          1                2  1.33
10               Bahrain        4          1                3  1.25
11            Bangladesh      318        247               71  1.31
12               Belarus       13          5                8  1.54
13               Belgium        4          3                1  1.00
14                Belize        4          3                1  1.25
15                 Benin       22          9               13  1.23
16                Bhutan        2          2                0  1.00
17               Bolivia       51         35               16  1.33
18  Bosnia & Herzegovina        3          1                2  1.00
19              Botswana        4          2                2  1.25

### Output HTTP Header

In [7]:
print('Content-type: text/csv')
print('Content-Disposition: attachment; filename="countries.csv"')
print()

Content-type: text/csv
Content-Disposition: attachment; filename="countries.csv"

### Output variables

In [8]:
print('# Title: Countries report')

# Title: Countries report

### Ouput result

In [9]:
result.to_csv(sys.stdout, index=False)

Country,Install,Uninstall,Net new install,Usage
Afghanistan,32,17,15,1.28
Albania,15,10,5,1.20
Algeria,357,239,118,1.39
Angola,27,10,17,1.22
Anguilla,3,3,0,1.33
Argentina,24,17,7,1.46
Armenia,6,5,1,2.17
Australia,3,1,2,5.00
Azerbaijan,13,9,4,1.54
Bahamas,3,1,2,1.33
Bahrain,4,1,3,1.25
Bangladesh,318,247,71,1.31
Belarus,13,5,8,1.54
Belgium,4,3,1,1.00
Belize,4,3,1,1.25
Benin,22,9,13,1.23
Bhutan,2,2,0,1.00
Bolivia,51,35,16,1.33
Bosnia & Herzegovina,3,1,2,1.00
Botswana,4,2,2,1.25
Brazil,15,9,6,1.33
Brunei,4,3,1,1.75
Bulgaria,6,2,4,1.17
Burkina Faso,37,13,24,1.62
Burundi,17,5,12,1.29
Cambodia,25,13,12,1.44
Cameroon,28,13,15,1.43
Canada,3,3,0,1.00
Cape Verde,3,2,1,1.00
Central African Republic,3,1,2,2.33
Chad,9,2,7,1.67
Chile,5,4,1,1.60
China,3,1,2,1.00
Colombia,36,19,17,1.19
Congo - Brazzaville,15,6,9,1.53
Congo - Kinshasa,27,10,17,1.33
Costa Rica,9,5,4,1.11
Côte d’Ivoire,42,18,24,1.48
Croatia,1,1,0,1.00
Cuba,112,51,61,1.47
Cyprus,4,3,1,1.50
Czechia,3,3,0,2.00
Dominican Republic,52,29,23,1.56
Ecuador,26,13,13,1.88
Egypt,75,53,22,1.47
El Salvador,15,11,4,1.07
Equatorial Guinea,2,1,1,1.50
Eswatini,4,1,3,5.25
Ethiopia,25,14,11,1.60
Fiji,3,1,2,1.67
France,9,4,5,1.22
French Polynesia,4,2,2,3.25
Gabon,6,3,3,1.50
Gambia,8,4,4,1.25
Georgia,7,5,2,1.57
Germany,12,1,11,1.83
Ghana,39,23,16,1.49
Greece,8,7,1,1.00
Guadeloupe,8,6,2,1.50
Guam,2,2,0,1.00
Guatemala,16,12,4,1.44
Guernsey,1,1,0,1.00
Guinea,11,6,5,1.64
Guinea-Bissau,4,2,2,2.25
Guyana,4,2,2,2.00
Haiti,39,18,21,1.62
Honduras,32,22,10,1.16
Hong Kong,3,2,1,1.00
Hungary,6,4,2,1.33
India,2510,1942,568,1.19
Indonesia,80,57,23,1.59
Iran,54,43,11,1.22
Iraq,505,358,147,1.30
Israel,6,2,4,1.00
Italy,17,14,3,1.29
Jamaica,8,4,4,1.50
Japan,2,1,1,2.50
Jordan,12,9,3,1.42
Kazakhstan,11,8,3,1.27
Kenya,62,36,26,1.32
Kosovo,14,12,2,1.14
Kuwait,7,4,3,1.14
Kyrgyzstan,10,3,7,1.30
Laos,32,22,10,1.38
Latvia,2,2,0,1.50
Lebanon,29,16,13,1.28
Lesotho,4,2,2,1.25
Liberia,11,4,7,1.27
Libya,94,72,22,1.31
Madagascar,14,8,6,1.21
Malawi,2,1,1,2.50
Malaysia,71,50,21,1.46
Maldives,2,2,0,1.00
Mali,18,6,12,1.39
Martinique,2,2,0,2.00
Mauritania,8,5,3,1.25
Mauritius,11,5,6,1.00
Mexico,20,14,6,1.40
Moldova,10,9,1,1.00
Mongolia,43,34,9,1.37
Morocco,256,161,95,1.30
Mozambique,40,19,21,1.18
Myanmar (Burma),103,62,41,1.41
Namibia,4,2,2,1.00
Nepal,121,91,30,1.34
Netherlands,6,2,4,1.67
New Caledonia,2,2,0,1.00
Nicaragua,17,13,4,1.18
Niger,10,3,7,1.50
Nigeria,198,80,118,1.69
North Macedonia,9,5,4,1.22
Oman,13,10,3,1.31
Pakistan,384,288,96,1.30
Palestine,22,17,5,1.09
Panama,3,2,1,1.00
Papua New Guinea,11,4,7,1.91
Paraguay,6,3,3,1.00
Peru,7,4,3,1.43
Philippines,66,49,17,1.32
Poland,6,4,2,1.33
Portugal,12,5,7,2.08
Puerto Rico,1,1,0,1.00
Qatar,7,3,4,2.00
Réunion,5,3,2,1.00
Romania,4,1,3,2.25
Russia,26,18,8,1.23
Rwanda,17,5,12,1.59
Saudi Arabia,32,18,14,1.09
Senegal,47,24,23,1.34
Serbia,10,7,3,1.00
Seychelles,3,1,2,1.00
Sierra Leone,6,2,4,1.50
Singapore,7,3,4,2.29
Slovakia,1,1,0,1.00
Somalia,55,28,27,1.49
South Africa,20,12,8,1.35
South Korea,11,6,5,1.09
Spain,3,2,1,1.00
Sri Lanka,37,19,18,1.35
St. Lucia,1,1,0,1.00
Sudan,17,11,6,1.35
Suriname,2,2,0,2.00
Switzerland,3,2,1,1.00
Syria,4,3,1,1.25
Taiwan,6,4,2,1.17
Tajikistan,2,1,1,1.00
Tanzania,57,34,23,1.54
Thailand,104,66,38,1.65
Timor-Leste,6,5,1,1.00
Togo,13,7,6,1.62
Trinidad & Tobago,10,6,4,1.30
Tunisia,79,50,29,1.32
Turkey,114,82,32,1.24
Turkmenistan,1,1,0,1.00
Uganda,11,6,5,1.55
Ukraine,34,21,13,1.15
United Arab Emirates,18,13,5,1.06
United Kingdom,10,5,5,1.70
United States,98,45,53,1.47
Uruguay,5,3,2,1.00
Uzbekistan,5,1,4,1.40
Venezuela,27,15,12,1.67
Vietnam,57,37,20,1.16
Western Sahara,4,3,1,1.75
Yemen,46,29,17,1.67
Zambia,17,10,7,1.41
Zimbabwe,6,3,3,1.00

### Release resources

In [10]:
conn.close()